<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:camel="http://cxf.apache.org/transports/camel" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd 
						http://www.springframework.org/schema/context 
                    	http://www.springframework.org/schema/context/spring-context-3.2.xsd                         
                    	http://cxf.apache.org/jaxrs
                        http://cxf.apache.org/schemas/jaxrs.xsd"
                        >

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<bean id="primeService" class=" net.atos.lepusservices.webservices.PrimeService" />
	<bean id="userService" class=" net.atos.lepusservices.webservices.UserService" />

	<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />

	<jaxrs:server id="restContainer" address="/">
		<jaxrs:serviceBeans>
			<ref bean="primeService" />
			<ref bean="userService" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="jsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>

	<!-- 
	<camelContext xmlns="http://camel.apache.org/schema/spring">
		<route>
			<from uri="file:c:/dev/input?noop=false" />
			<to uri="file:c:/dev/output" />
		</route>
	</camelContext>
	 -->
</beans>