<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" 
	xmlns:camel="http://cxf.apache.org/transports/camel"
	xmlns:cxf="http://camel.apache.org/schema/cxf"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd 
						http://www.springframework.org/schema/context 
                    	http://www.springframework.org/schema/context/spring-context-3.2.xsd                         
                    	http://cxf.apache.org/jaxrs
                        http://cxf.apache.org/schemas/jaxrs.xsd
						http://camel.apache.org/schema/spring 
						http://camel.apache.org/schema/spring/camel-spring.xsd	
       					http://camel.apache.org/schema/cxf 
       					http://camel.apache.org/schema/cxf/camel-cxf.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<bean id="authenticationService"
		class=" net.atos.lepusservices.webservices.AuthenticationService" />
	<bean id="primeService" class="net.atos.lepusservices.webservices.PrimeService" />
	<bean id="userService" class="net.atos.lepusservices.webservices.UserService" />

	<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider" />

	<bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
		<property name="brokerURL" value="tcp://localhost:61616" />
		<property name="userName" value="admin" />
		<property name="password" value="admin" />
	</bean>

	<!-- <cxf:rsServer id="rsServer" address="http://localhost:8181/rest/wibble" 
		serviceClass="net.atos.lepusservices.webservices.CustomerService" /> -->

	<jaxrs:server id="wibbleContainer" address="/">
		<jaxrs:serviceBeans>
			<ref bean="authenticationService" />
			<ref bean="primeService" />
			<ref bean="userService" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<ref bean="jsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>

	<camelContext xmlns="http://camel.apache.org/schema/spring">
		<route>
			<from uri="file:c:/dev/input?noop=false" />
			<log message="File: ${headers} ======== ${body}"/>			
			<to uri="activemq:queue:Incoming" />
			<to uri="file:c:/dev/output" />
		</route>
	</camelContext>

	<!-- <camelContext id="camel" xmlns="http://camel.apache.org/schema/spring"> 
		<route> <from uri="cxfrs://bean://rsServer" /> <setHeader headerName="CamelCxfRsUsingHttpAPI"> 
		<constant>True</constant> </setHeader> </route> </camelContext> -->
</beans>